
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@font-face {
    font-family: 'Al-Jazeera-Arabic-Light';
    src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Al-Jazeera-Arabic-Regular';
    src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Regular.ttf') format('truetype');
}

.fontArL {
    font-family: 'Al-Jazeera-Arabic-Light';
}

* {
    font-family: 'Roboto', sans-serif;
}

.Primary-Text-Color {
    color: #051f40;
}

/*#region Top-Bar */

.topbar {
    height: 30px;
    background-color: #09213e;
    color: #fff;
}

    .topbar h6 {
        padding-top: 6px;
        font-weight: 400;
    }

.social_icons a {
    display: inline-flex;
    margin-left: 8px;
    padding-top: 4px;
}

    .social_icons a img {
        flex: 1;
        height: 22px;
    }

.language a {
    text-decoration: none;
    color: #fff;
}

    .language a:hover {
        text-decoration: none;
        color: #fff;
    }

/*#endregion */

/*#region Header */

header {
    padding-top: 40px;
    background-image: url('../Images/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3.625rem;
}

/*#region Navigation */

.logo {
    height: 110px;
}

.navbar {
    padding: 0;
}

.navbar-nav .active > .nav-link {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.nav-item:first-child {
    padding-left: 20px;
}

.nav-item:last-child {
    background-color: #09213e;
    padding-left: 20px;
    padding-right: 10px;
}

    .nav-item:last-child .nav-link {
        color: #fff;
    }

.navbar .nav-item {
    padding-right: 20px;
}

    .navbar .nav-item .nav-link {
        padding: 0;
    }

nav ul {
    padding-top: 47px;
}

    nav ul li a {
        font-size: 1.5625rem; /*25px*/
    }

/*#endregion */

header hr {
    margin-top: 1.5625rem;
    margin-bottom: 0;
}

/*#region Header-Content */

.header-content h2 {
    font-size: 4.063rem;
    font-weight: 300;
    margin-top: 3.0625rem;
}

.header-content h1 {
    font-weight: 700;
    font-size: 5.313rem;
}

.header-content p {
    font-weight: 400;
    font-size: 1.5625rem;
    padding: 0 2.375rem;
}

.header-content .btn {
    font-size: 1.875rem;
    background-color: #3a4a63;
    font-weight: 400;
}

/*#endregion */

/*#endregion */

/*#region About Us */
.about_us .title h1 {
    margin-top: 3.625rem;
    font-weight: 300;
    font-size: 4.063rem;
}

.about_us .title h2 {
    font-weight: 300;
    font-size: 2.0625rem;
}

.about_us hr {
    margin-top: 1.625rem;
    margin-bottom: 3.875rem;
}

.about_us .our_vision h1 {
    font-weight: 300;
    font-size: 80px;
}

.about_us .our_vision p {
    font-size: 1.625rem;
    line-height: 50px;
}

.about_us .our_vision .eyes {
    width: 120%;
    position: relative;
    left: -100px;
    top: -50px;
}

.about_us .our_mission p {
    font-size: 1.625rem;
    line-height: 50px;
}

.about_us .our_mission img {
    position: relative;
    top: -32px;
}

/*#endregion */

/*#region Services */

.services {
    margin-top: 7.188rem;
    background-image: url('../Images/Services_Background.png');
    background-size: cover;
}

    .services h1 {
        font-weight: 700;
        font-size: 5.438rem;
        color: #fff;
        margin-top: 4rem;
    }

    .services h2 {
        font-weight: 100;
        font-size: 3.125rem;
        color: #fff;
    }

.services_Section2 {
    background-color: #eaebed;
}

    .services_Section2 p {
        margin-top: 2.0625rem;
        font-size: 2rem;
        line-height: 50px;
    }

    .services_Section2 .membership_card h1 {
        margin-top: 3.6875rem;
        font-weight: 300;
        font-size: 4.063rem;
    }

    .services_Section2 .membership_card h2 {
        font-weight: 300;
        font-size: 2.0625rem;
    }

/*#endregion */


/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
}
