
@using yemnak.App_GlobalResources;

@{
    ViewBag.Title = "Contact Us";
}

<style>
    body{
        background-image:url('/../Contents/Images/header_background.jpg') !important;
        background-size:100%;
    }
    .header-content {
        display: none;
    }

    header {
        background: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xl-8 mx-auto">
            <div class="map">
                <div id="map"></div>
                <div class="map-c">
                    <h2>@SiteResources.ContactUS_Title</h2>
                    <p>
                        Ministry Zone, Al-Shuhadaa Governance Area, Beside NBK Bank Building, South Surra
                    </p>
                    <div class="det"><i class="fa fa-map-marker"></i> <a target="_blank" class="google_link" href="https://goo.gl/maps/wHGrNSWV5sx">@SiteResources.ContactUs_googlelink</a></div>
                    <div class="det"><i class="fa fa-phone"></i> 1824824</div>
                    <div class="det"><i class="fa fa-globe"></i> <a target="_blank" href="http://www.yemnak.com/">www.yemnak.com</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />