
@{
    ViewBag.Title = "Offical Website";
}

<!-- #region About-Us -->

<div id="about" class="about_us Primary-Text-Color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1 class="text-center">About Yemnak</h1>
                    <h2 class="text-center">Bringing Services to you since 2003</h2>
                </div>
                <div class="description">
                    From the goals that the Public Services Company were built for, which is to help citizens from all over the state private and 
                    public institutions to facilitate procedures, and from the company’s vision which is to present superior services, 
                    Yemnak Concierge was built, since 2003. Yemnak is a service given for our elite clients, individuals and companies, 
                    to help out with your needs and to help you with your daily tasks in privacy. Yemnak team will satisfy your needs where they 
                    will take you to a luxurious trip of your life. Our team are ready to serve you 24/7 through our branches, in Kuwait or even 
                    Dubai and London.
                </div>
            </div>
        </div>
        <hr />
        <div class="our_vision">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <h1 class="text-center">OUR VISION</h1>
                    <p class="text-center">
                        In Yemnak we believe that you deserve a Luxury Lifestyle, so our vision is to take the lead in Concierge Services worldwide.
                    </p>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-10 mx-md-auto">
                    <img class="eyes" src="~/Contents/Images/pexels-eyes-photo.png" />
                </div>
            </div>
        </div>

        <div class="our_mission">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <p class="text-center">
                        Provide all the possibilities that we can offer in Concierge Services, to provide the best services to our clients.
                    </p>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3">
                    <img class="img-fluid" src="~/Contents/Images/Mission.png" />
                </div>

            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region Services -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <img class="img-fluid" src="~/Contents/Images/Service_Yemnak.png" />
            </div>
            <div class="col-xl-5 col-lg-5 text-light">
                <h1 class="text-right">Unmatched Services</h1>
                <h2 class="text-right">adapted to your needs</h2>
            </div>
        </div>
    </div>
</div>

<div class="services_Section2">
    <div class="container">
        <div class="row">
            @*<div class="col-xl-12">
                <p class="text-justify">
                    When you join Yemnak’s family, you have the access to use our wide range of services not only in Kuwait,
                    but also in London and Dubai, customized upon orders and covers all aspects of life to meet all your needs
                    and wishes and,  carry all your daily tasks that you do not have the time to do. Membership cards enable you
                    to get a wide rangeof services that gives you a quiet and organized life done by an entire team dedicated to
                    execute your requests 24/7. Our response is incomparable.
                </p>
            </div>*@

            <div class="col-xl-6">
                <div class="card text-center">
                    @*<div class="card-header">
                        Concierge Individuals and Company
                    </div>*@
                    <div class="card-body">
                        <h4 class="card-title">Concierge Individuals and Company</h4>
                        <p class="card-text">Yemnak’s team are ready to serve you 24/7 to facilitate your daily tasks, to create a unique and luxurious lifestyle to our clients. These services provided to our clients through annual contracts with different companies for their clients, or by individuals’ membership contracts. We designed our services to suit your needs and wants which will help you through your day:</p>
                        <ul>
                            <li>Completing transactions, which does not require a personal attendance.</li>
                        </ul>
                        Establishing / renew / cancel an immigrants visa.
                        Comprehensive medical examination.
                        Transporting data from passport to another.
                        Driving license renewal.
                        Technical inspection for cars and car registration renewal.
                        Visa for tourism or for students.
                        Civil ID renewal.
                        Finishing transactions through different embassies and Ministry of Foreign Affairs.
                        Transportations from / to airports.
                        Booking hotels, tickets, restaurants, etc.
                        On road services.
                        Paying fees (schools, bills, electricity, traffic violations, etc.).
                        Delivery services (flowers, gifts, invitations, etc.).
                        All kind of services that needed by our clients that suits our policies and Sharia’a.

                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card text-center">
                    @*<div class="card-header">
                        Call Center
                    </div>*@
                    <div class="card-body">
                        <h4 class="card-title">Call Center</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>

        <div class="membership_card">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="text-center membership_card">
                        Membership Cards
                    </h1>

                    <h2 class="text-center">
                        Wide Range of Services Tailored Just For You
                    </h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xl-6 col-lg-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
                <div class="col-xl-6 col-lg-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-xl-6 col-lg-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
                <div class="col-xl-6 col-lg-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
            </div>
        </div>

    </div>
</div>

<!-- #endregion -->
<!-- #region Clients -->

<div id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="clientslick">
                    <div>
                        <img src="~/Contents/Images/CMGS.png" /></div>
                    <div>
                        <img src="~/Contents/Images/MOJ.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/altijari.png" /></div>
                    <div>
                        <img src="~/Contents/Images/Viva.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Warba_bank.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
