
@{
    ViewBag.Title = "Offical Website";
}

<!-- #region About-Us -->

<div id="about" class="about_us Primary-Text-Color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1 class="text-center">About Yemnak</h1>
                    <h2 class="text-center">Bringing Services to you since 2003</h2>
                </div>
                <hr />
                <div class="description">
                    <p class="text-center">
                        From the goals that the Public Services Company were built for, which is to help citizens from all over the state private and
                        public institutions to facilitate procedures, and from the company's vision which is to present superior services,
                        Yemnak Concierge was built, since 2003. Yemnak is a service given for our elite clients, individuals and companies,
                        to help out with your needs and to help you with your daily tasks in privacy. Yemnak team will satisfy your needs where they
                        will take you to a luxurious trip of your life. Our team are ready to serve you 24/7 through our branches, in Kuwait or even
                        Dubai and London.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="our_vision">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <h1 class="text-center">OUR VISION</h1>
                    <p class="text-center">
                        In Yemnak we believe that you deserve a Luxury Lifestyle, so our vision is to take the lead in Concierge Services worldwide.
                    </p>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-10 mx-md-auto">
                    <img class="eyes" src="~/Contents/Images/pexels-eyes-photo.png" />
                </div>
            </div>
        </div>

        <div class="our_mission">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <p class="text-center">
                        Provide all the possibilities that we can offer in Concierge Services, to provide the best services to our clients.
                    </p>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3">
                    <img class="img-fluid" src="~/Contents/Images/Mission.png" />
                </div>

            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region Services -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6">
                <img class="img-fluid" src="~/Contents/Images/Service_Yemnak.png" />
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 text-light">
                <h1 class="text-right">Unmatched Services</h1>
                <h2 class="text-right">adapted to your needs</h2>
            </div>
        </div>
    </div>
</div>

<div class="services_Section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Concierge Individuals and Company</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            Yemnak's team are ready to serve you 24/7 to facilitate your daily tasks, to create a unique and luxurious
                            lifestyle to our clients. These services provided to our clients through annual contracts with different companies
                            for their clients, or by individual's membership contracts. We designed our services to suit your needs and wants
                            which will help you through your day.
                        </p>
                        
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>Completing transactions, which does not require a personal attendance.</li>
                            <li>Establishing / renew / cancel an immigrants visa.</li>
                            <li>Comprehensive medical examination.</li>
                            <li>Transporting data from passport to another.</li>
                            <li>Driving license renewal.</li>
                            <li>Technical inspection for cars and car registration renewal.</li>
                            <li>Visa for tourism or for students.</li>
                            <li>Civil ID renewal</li>
                            <li>Finishing transactions through different embassies and Ministry of Foreign Affairs.</li>
                            <li>Transportations from / to airports.</li>
                            <li>Booking hotels, tickets, restaurants, etc.</li>
                            <li>On road services.</li>
                            <li>Paying fees (schools, bills, electricity, traffic violations, etc.).</li>
                            <li>Delivery services (flowers, gifts, invitations, etc.).</li>
                            <li>All kind of services that needed by our clients that suits our policies and Shariaa'.</li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Call Center</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            To keep up with our client's needs we provided a call center to help for establishing high standards for our services.
                            We provide this a Call Center Services to companies with employees who are ready to answer calls for them. In addition,
                            there is a call center in our company with the latest technology to serve different companies and governments.
                            
                        </p>
                        
                    </div>
                    <div class="card-footer">
                        <h5>Call Center also provide different services:</h5>
                            <br />
                        <ul>
                            <li>Incoming and outgoing calls services.</li>
                            <li>Marketing campaigns.</li>
                            <li>Survey campaigns.</li>
                            <li>Guidance and awareness campaigns.</li>
                            <li>Text messaging services.</li>
                            <li>Email messaging services.</li>
                            <li>Advertising services.</li>
                            <li>Fellow-up services.</li>
                            <li>Consulting and training services.</li>
                            <li>Data entering services.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="membership_card">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center membership_card">
                        Membership Cards
                    </h1>

                    <h2 class="text-center">
                        Wide Range of Services Tailored Just For You
                    </h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
                <div class="col-md-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
                <div class="col-md-6"><img class="img-fluid rounded" src="http://via.placeholder.com/531x332"></div>
            </div>
        </div>

    </div>
</div>

<!-- #endregion -->
<!-- #region Clients -->

<div id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="clientslick">
                    <div>
                        <img src="~/Contents/Images/CMGS.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/MOJ.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/altijari.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Viva.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Warba_bank.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
